<h1>Contact us</h1>

<%= form_tag contact_submit_path %>
    <div class="form-group">
     <%= label_tag :name %>
      <div class="input-group">
         <div class="input-group-addon"><%= text_field_tag :name %></div>
      </div>
    </div>
    <div class="form-group">
     <%= label_tag :email %>
      <div class="input-group">
         <div class="input-group-addon"><%= email_field_tag :email %></div>
      </div>
    </div>
    <div class="form-group">
     <%= label_tag :message %>
      <div class="input-group">
         <div class="input-group-addon"><%= text_area_tag :message %></div>
      </div>
    </div>
    
<%= submit_tag "Contact Us" %>