<h1>Products Show Page</h1>
<h2><%= @product.title %></h2>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<p><strong>Tags:</strong>
<%@product.tags.each do |tag|%>
    <p class="badge badge-pill badge-dark"><%= link_to tag.name, products_path(tag: tag.name) %></p>
<% end %>
</p>
<p>Created_by: <%= @product.user&.full_name || "Deleted" %></p>
<p>Created at:<%= @product.created_at %></p>
<% if current_user %>
    <%= link_to("Pay", new_product_pay_path(@product), class: "btn btn-warning") %>
<% end %>
<% if @favourite%>
  <%= link_to @favourite.is_favourite ? "Cancel Favourite" : "Cancel Unavourite", favourite_path(@favourite), class:"btn btn-light ", method: :delete%>
<% else%>
  <%= form_with(url: product_favourites_path(@product), local: true) do |f| %>
  <input type="hidden" name="is_favourite" value="true">
  <%= f.submit "Favourite", class:"btn btn-info" %>
  <% end %>
  <%= form_with(url: product_favourites_path(@product), local: true) do |f| %>
  <input type="hidden" name="is_favourite" value="false">
  <%= f.submit "Unfavourite", class:"btn btn-dark" %>
  <% end %>
<% end %>
<% if can? :crud, @product %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<% if can? :crud, @product %>
  <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<br>
<%= flash[:notice] || flash[:alert] %>
<h3>
    Put a review here
</h3>
<% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model:[@product,@review], local: true do |form|%>
<div>
    <%= form.label :body%>
    <%= form.text_area :body, cols: 50, rows:5, placeholder: "How did you like this product?" %>
</div>
<div>
    <%= form.label :rating%>
    <%= form.text_field :rating, placeholder: "i.e. 1-5"%>
</div>
<div>
    <%= form.submit%>
</div>

<% end %>


<ul>
<% @reviews.each do |review|%>
    <li>
    <small>rating:  <%= review.rating%></small>
    <br />
    <%= review.body%>
    <div>
        Reviewd  by:
        <%= review.user&.full_name || "Deleted" %>
    </div>
    <% if can? :crud, review %>
      <%= link_to("Delete", product_review_path(@product, review) ,method: :delete, data:{confirm:"Are you sure?"}) %>
    <% end %>
    </small>

      <% if review.likes.find_by(user: current_user).present?  && can?(:destroy, review.likes.find_by(user: current_user)) %>
      <%= link_to(
        "ðŸ‘Ž Unlike",
        like_path(review.likes.find_by(user: current_user)), 
        class:"btn btn-danger ",
        method: :delete
        ) %>
      <% else can?(:like, review) %>
      <%= link_to(
              "ðŸ‘ Like",
              product_review_likes_path(@product,review),
              class:"btn btn-success ",
              method: :post
        ) %>
      <% end %>
      <small>
        (<%= pluralize(review.likes.count, "like") %>)
      </small>
    </li>
      <% vote = review.votes.find_by(user: current_user) %>
      <% if vote%>
        <%= link_to vote.is_vote ? "Cancel Vote Up" : "Cancel Vote Down", vote_path(vote), class:"btn btn-light ", method: :delete%>
      <% elsif can?(:vote, review)%>
        <%= form_with(url: product_review_votes_path(@product,review), local: true) do |f| %>
        <input type="hidden" name="is_vote" value="true">
        <%= f.submit "Vote Up", class:"btn btn-info" %>
        <% end %>
        <%= form_with(url: product_review_votes_path(@product,review), local: true) do |f| %>
        <input type="hidden" name="is_vote" value="false">
        <%= f.submit "Vote Down", class:"btn btn-dark" %>
        <% end %>
      <% end %>
      <small>
        | (<%= pluralize(review.votes.where(is_vote: true).count, "vote up") %>) |
      </small>
      <small>
        (<%= pluralize(review.votes.where(is_vote: false).count, "vote down") %>) |
      </small>
  <% end %>
</ul>