<h1>Products Show Page</h1>
<h2><%= @product.title %></h2>
<p><%= @product.description %></p>
<p><%= @product.price %></p>
<p>Created_by: <%= @product.user&.full_name || "Deleted" %></p>
<p>Created at:<%= @product.created_at %></p>
<% if can? :crud, @product %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<% if can? :crud, @product %>
  <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<br>
<%= flash[:notice] || flash[:alert] %>

<h3>
    Put a review here
</h3>
<% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model:[@product,@review], local: true do |form|%>
<div>
    <%= form.label :body%>
    <%= form.text_area :body, cols: 50, rows:5, placeholder: "How did you like this product?" %>
</div>
<div>
    <%= form.label :rating%>
    <%= form.text_field :rating, placeholder: "i.e. 1-5"%>
</div>
<div>
    <%= form.submit%>
</div>

<% end %>


<ul>
<% @reviews.each do |review|%>
    <li>
    <small>rating:  <%= review.rating%></small>
    <br />
    <%= review.body%>
    <div>
        Reviewd  by:
        <%= review.user&.full_name || "Deleted" %>
    </div>
    <small><%= review.likes.count %> people like this</small>
    <% if can? :like, review %>
        <%if review.likes.find_by(user: current_user).present? %>
          <%= link_to "ðŸ‘Ž Un-like", product_review_like_path(review.product_id, review.id, review.likes.find_by(user_id: current_user.id)), method: :delete %>
        <% else %>
          <%= link_to "ðŸ‘ Like", product_review_likes_path(review.product_id, review.id), method: :post %>
        <% end %>
    <% end %>
    <small>
    <% if can? :crud, review %>
      <%= link_to("Delete", product_review_path(@product, review) ,method: :delete, data:{confirm:"Are you sure?"}) %>
    <% end %>
    </small>
    </li>
<% end %>
</ul>