<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
      <div class="container">
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact Us</a> |
        <a href="/new">Bill Splitter</a> |
        <%= link_to 'New Product', new_product_path %> |
        <%= link_to 'Products Index', products_path%> |
        <hr>
        <div class="col-md-6">
    <%= yield %>
  </body>
</html>
