<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stripe_javascript_tag %>
    <script  src="//maps.googleapis.com/maps/api/js?key=AIzaSyAytrhONRrQFX3KA5jsQVWOLymfn1wtCuQ"></script>
    <script  src="//cdnjs.cloudflare.com/ajax/libs/markerclustererplus/2.1.4/markerclusterer.min.js"></script>
    <script  src='//cdn.jsdelivr.net/gmaps4rails/2.1.2/gmaps4rails.js'></script>
    <script  src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'></script>
  </head>

  <body>
      <div class="container" />
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact Us</a> |
        <a href="/new">Bill Splitter</a> |
        <%= link_to 'New Product', new_product_path %> |
        <%= link_to 'Products Index', products_path%> |
        <%if user_signed_in? %>
          Hello <%= link_to(current_user.full_name, user_path(current_user)) %>! |
          <%= link_to 'Logout', session_path, method: :delete, data:{confirm: 'Are you sure you want to logout?'}%>
        <% else %>
          <%= link_to 'Login', new_session_path %> |
          <%= link_to 'Sign Up', new_user_path %> |
          <%= link_to 'Sign in with Github', sign_in_with_github_path %>
        <% end %>
        <hr>
        <div class="col-md-6" />
      <div>
        <%= render 'layouts/alerts' %>
      </div>
    <%= yield %>
  </body>
</html>
