<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, message|%>
    <div class="flush flush-<%= type%>">
      <%= message%>
    </div>
    <% end%>
      <div class="container">
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact Us</a> |
        <a href="/new">Bill Splitter</a> |
        <%= link_to 'New Product', new_product_path %> |
        <%= link_to 'Products Index', products_path%> |
        <%if user_signed_in? %>
          Hello <%= current_user.full_name %>! |
          <%= link_to 'Logout', session_path, method: :delete, data:{confirm: 'Are you sure you want to logout?'}%>
        <% else %>
          <%= link_to 'Login', new_session_path %> |
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
        <hr>
        <div class="col-md-6">
    <%= yield %>
  </body>
</html>
