<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link type="text/css" rel="stylesheet" href="/bootstrap.min.css">
  </head>

  <body>
      <div class="container">
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/contact">Contact</a> |
        <hr>
        <div class="col-md-6">
    <%= yield %>
  </body>
</html>
